@charset "UTF-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Lobster+Two&display=swap');

body{
    background: #000;
    font:14px/1 "Lobster Two";
}
main{
    width: 100%;
    height: 100vh;
    
    .main_bg{
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: .6;

        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    section{
        //사이드 공통 UI
        &.wrap1, &.wrap2{
            width: 350px;
            height: 500px;
            position: absolute;
            perspective: 800px;
            z-index: 1;
        }
        .inner{
            width: 100%;
            height: 100%;
            background: rgba(29, 29, 29, 0.1);
            border: 1px solid rgba(255,255,255,.1);
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(29, 29, 29, 1);
            opacity: .7;
            z-index: 2;
            transition: .5s;
            position: relative;

            &:hover{
                opacity: 1;
            }
        }

        //왼쪽 사이드
        &.wrap1{
            top: 50%;
            margin-top: -250px;
            left: 2%;

            .inner{
                transform: rotateY(30deg);
                overflow: hidden;

                >img:nth-of-type(1){
                    position: absolute;
                    width: 100px;
                    top: 20px;
                    left: 0px;  
                }
                >img:nth-of-type(2){
                    position: absolute;
                    width: 80px;
                    top: 100px;
                    right: 0px;
                    transform: rotate(180deg);  
                }

                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                img{
                    opacity: 0;
                    transition: .5s;
                }

                p{
                    transition: .5s;
                    span{
                        transition: .5s;
                    }
                }
                p:nth-of-type(1){
                    font-size: 80px;
                    color: #aaa;
                    position: absolute;
                    bottom: 25%;
                    left: 7%;

                    img{
                        position: absolute;
                        top: 10px;
                    }
                }

                p:nth-of-type(2){
                    font-size: 80px;
                    color: #aaa;
                    position: absolute;
                    bottom: 5%;
                    right: 10%;
                }
                //왼쪽 사이드 호버 이벤트
                &:hover{
                    img{
                        opacity: 1;
                    }

                    p{
                        text-shadow: 0px 0px 8px #888;
                    }
                    p:nth-of-type(1){
                        span:nth-of-type(odd){
                            color: rgb(16, 129, 30);
                        }
                        span:nth-of-type(even){
                            color: rgb(214, 13, 13);
                        }
                    }
                    p:nth-of-type(2){
                        span:nth-of-type(even){
                            color: rgb(16, 129, 30);
                        }
                        span:nth-of-type(odd){
                            color: rgb(214, 13, 13);
                        }
                    }
                }
            }
        }

        //오른쪽 사이드
        &.wrap2{
            top: 50%;
            margin-top: -250px;
            right: 2%;

            .inner{
                transform: rotateY(-30deg);
                overflow: hidden;

                div:nth-of-type(1){
                    position: absolute;
                    width: 200px;
                    border-bottom: 2px solid #eee;
                    transform: rotate(55deg);
                    left: 0;
                    z-index: 2;
                }

                >img{
                    width: 160px;
                    position: absolute;
                    top: 100px;
                    left: 50px;
                    z-index: 2;
                }

                div:nth-of-type(2){
                    position: absolute;
                    width: 350px;
                    border-bottom: 2px solid #eee;
                    transform: rotate(55deg);
                    right: -30px;
                    bottom:120px;
                    z-index: 2;
                }
                
                .cookie{
                    width: 100%;
                    height: 100%;

                    img:nth-of-type(1){
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                    img:nth-of-type(2){
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                }

                //오른쪽 사이드 호버 이벤트
                &:hover{
                    >img:nth-of-type(2){
                        display: none;
                    }

                    .cookie{
                        img:nth-of-type(2){
                            display: none;
                        }
                    }

                    >div:nth-of-type(1),>div:nth-of-type(2){
                        border-color: #000;
                    }
                }
            }
        }

        //중간 공통 UI
        &.circle{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}